.container {
    perspective: 4px;
}
  
.inner {
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}